# Built files
/build
/app/build
/app/.cxx

# Gradle
.gradle
gradle-app.setting
!gradle-wrapper.jar

# Local configuration files
*.iml
*.swp
.idea/
.DS_Store

# Keystore files
*.jks
*.keystore

# Firebase
google-services.json

# Остальное
/local.properties
/captures/
/.settings/
/.vscode/
/captures
.externalNativeBuild
.cxx
local.properties
